<nav class="navbar" #navbarEl>
    <span class="logo" routerLink="/" id="navbarLogo">Devoo Consulting</span>
    
    <!-- Animated particles that will pass behind the logo -->
    <div class="navbar-particles">
        <div class="navbar-particle particle-1"></div>
        <div class="navbar-particle particle-2"></div>
        <div class="navbar-particle particle-3"></div>
    </div>
    
    <!-- <img src="" alt="Devoo Consulting"> -->
    <div class="nav-links">
        <a routerLink="/services" routerLinkActive="active-link" class="nav-item" #navLink>Services</a>
        <a routerLink="/portfolio" routerLinkActive="active-link" class="nav-item" #navLink>Portfolio</a>
        <a routerLink="/contact" routerLinkActive="active-link" class="nav-item" #navLink>Contact</a>
    </div>
</nav>

