<section class="content">
  <h1>Contact Information</h1>

  <p><b>Devoo Consulting</b></p>
  <p>Phone: <a href="tel:+381612675979">+ 381 61 2675 979</a></p>
  <p>Email: <a href="mailto:devooconsulting@gmail.com">devooconsulting@gmail.com</a></p>
  <p>Website: <a href="https://devooconsulting.com">DEVOO</a></p>
  
  <p>
    At Devoo Consulting, we're not just consultants; we're partners in your success. Let us help you navigate the complex world of software development and unlock the full potential of your business.
  </p>
</section>
