h1{
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
}
p{
    font-size: 1.25rem;
    text-align: justify;
    margin: 2rem;
}
// stile the ul to dosplay items horizontally
ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
li{
    color: whitesmoke;
    margin: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #3F72AF;        
    box-shadow: 0 0 10px 0 #112D4E;
}

li a{
    color: whitesmoke;
    text-decoration: none;
}

.link{
    background-color: #112D4E;
}