<section class="content">
    <h1>Comming Soon...</h1>
    <ul>
        <li>
            PictoTrivAI
            <p>
                AI powered trivia game.
            </p>
            <a href="https://pictotrivia.com" target="_blank">Go to website...</a>
        </li>
        <li>
            Omnia Communications
            <p>
                Translation services company main site.
            </p>
            <a href="https://sudski-tumac-engleski.com/" target="_blank">Go to website...</a>
        </li>
        <li>
            HOLACUBA
            <p>
                Car Rental Service.
            </p>
            <a href="https://holacuba.net" target="_blank">Go to website...</a>
        </li>
    </ul>
</section>  

